.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.topnav {
    float: left;
}

li.topnav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li.topnav a:hover {
    background-color: #111;
}

h1 {
  text-align: center;
}

img.mahself {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  height: 500px;
  width: 600px;
  border-style: solid;

}

section {
 display: flex;
}

aside {
 flex: 1
}

article {
 flex: 4
}
