
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

.PartOne {
  height: 850px;
  background:
   linear-gradient(
     rgba(0,0,0,0.35),
     rgba(0,0,0,0.35)
     ),
   url(Background.jpeg);
  background-size: cover;
  color: white;
  text-align: center;
}


.PartTwo {
  padding-top: 100px;
  height: 500px;
}

footer {
    padding: 80px 0 50px;
    background-color: #252a30;
    color: #fff;
    text-align: center
}

p {
  color: #989998;
}

a {
  text-decoration: none;
  color: white;
}

.SeeIt {
  font-family: 'Roboto', sans-serif;
  color: #C3C4C3;
}

.SeeIt:hover {
  color: #DDDEDC;
}

p.SeeIt {
  color: #C3C4C3;
  padding-top: 200px;
}

#WelcomeSentence {
  font-size: 75px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
}

#Availability {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: auto;
  border-radius: 30px;
  text-align: center;
  border: solid;
  border-color: #FED717;
  width: 250px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-radial-out2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FED717;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-radial-out2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #Black;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}


.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.hvr-radial-out2:hover, .hvr-radial-out2:focus, .hvr-radial-out2:active {
  color: white;
}
.hvr-radial-out2:hover:before, .hvr-radial-out2:focus:before, .hvr-radial-out2:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@-webkit-keyframes hvr-ripple-out2 {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out2 {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}

.hvr-ripple-out2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}

.hvr-ripple-out:before {
  content: '';
  border-radius: 30px;
  position: absolute;
  border: #FED717 solid 2px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.hvr-ripple-out2:before {
  content: '';
  border-radius: 30px;
  position: absolute;
  border: #Black solid 2px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.hvr-ripple-out2:hover:before, .hvr-ripple-out2:focus:before, .hvr-ripple-out2:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}

.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}

.MainSubHeading {
  font-size: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 10px;
}

.SubSubHeading {
  font-size: 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.ThreeColumns {
  font-family: 'Roboto', sans-serif;
  display: flex;
  color: #FED717;
}

#DragonSlaying {
  text-align: center;
     padding-top: 30px;
   padding-left: 20px;
 padding-right: 20px;
     padding-bottom: 30px;
}

#ComputerProgramming {
  text-align: center;
     padding-top: 30px;
   padding-left: 85px;
 padding-right: 20px;
     padding-bottom: 30px;
}

#GuitarShredding {
  text-align: center;
     padding-top: 30px;
   padding-left: 20px;
 padding-right: 20px;
     padding-bottom: 30px;
}

.WorkTogether {
  font-family: 'Roboto', sans-serif;
  background-color: #FED717;
  height: 400px;
  text-align: center;
}

#HangOut {
	font-size: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#Invite {
  padding-bottom: 50px;
  font-size: 20px;
  color: black;
  width: 350px;
  padding-left: 550px;
}

#DoThis {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: auto;
  border-radius: 30px;
  text-align: center;
  border: solid;
  border-color: #Black;
  width: 250px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}


#FacebookLink {
	margin-right: 5px;
}

#GitLink {
  margin-left: 5px;
}

#IconLinks {
	margin: 10px;
    color: grey;
}

#DisclosureNote {

}
